<!DOCTYPE html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<html lang="en">
<meta name="author" content="Bernardas Ališauskas">
<meta name="description" content="Match data for video game tournaments">
<meta property="og:site_name" content="matchtick.com">
<meta property="og:type" content="info">
<meta property="og:title" content="matchtick data">
<meta property="og:description" content="Match data for video game tournaments">
<meta property="og:locale" content="en_US">
<meta property="og:url" content="http://matchtick.com">
<meta property="og:image" content="=( ^ >w< ^ )=">
<head>
</head>
<body>
<div class="header">
  <a href="/">
    Match data for professional video game matches.
  </a>
</div>
<div class="content">
  {% block content %}
  {% endblock %}
</div>
<div class="footer">
  <a href="/api">api</a> |
  <a href="/about">about</a>
  <div>
  <a href="https://github.com/Granitosaurus/wisdom.cat">source on github</a>
  </div>
</div>
</body>

</html>