@import "variables.less";

html {
  background: @background;
  color: @text;
}

body {
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
  width: @base_width;
}


a {
  text-align: center;
  color: @blue;
  text-shadow: 1px 1px 1px @content;
  text-decoration: none;
}

a:hover {
  color: @cyan;
  cursor: pointer;
}

div.content {
  margin: 10px 0;
  padding: 0 0 20px 0;
}

div.text {
  text-align: left;
}

div.header {
  padding: 20px 0 30px 0;
  color: @yellow;
}

div.header a{
  color: @yellow;
}

div.footer a{
  display: inline-block;
}

div.game {
  display: inline-block;
  width: 150px;
  margin: 10px 20px ;
}

div.game h2{
  margin-bottom: 3px;
}

table.ticker {
  display: inline-block;
  text-align: center;
  border-collapse: collapse;
}
table.ticker th{
  text-align: center;
}

td.live {
  color: green;
}

table.ticker img.flag {
  width: 12px;
  height: 12px;
}

table.ticker tr, table.ticker td {
  padding: 5px 20px;
  border-bottom: 1px solid @content;
  border-top: 1px solid @content;
}
